<div class="elements-list">
  <div *ngFor="let element of touristElementsStore.elements$ | async" class="mb-4">
    <a [routerLink]="element.normalizedName">
      <h5>{{ element.name }}</h5>
      <!-- <img [lazyLoad]="element.photoUrl" class="panel-photo"> -->
    </a>
    <p class="description">
      {{ element.shortDescription }}
    </p>
  </div>
</div>