<div *ngIf="institution$ | async as institution">
  <h4>{{ institution.name }}</h4>
  <p class="description">{{ institution.description }}</p>
  <p class="mb-1">
    {{ institution.location }}
  </p>
  <p class="mb-1">
    {{ institution.email }}
  </p>
  <p>
    {{ institution.phone }}
  </p>
</div>
