<div class="content">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-6">Witaj w Lokalnym Podróżniku</h1>
      <hr class="my-4">
      <p>Aby zacząć korzystać z serwisu, wybierz obszar, który chcesz zwiedzać.</p>
  
    </div>
  </div>
  <div class="container">
    <app-area-list></app-area-list>
  </div>
</div>

<ng-template #errorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Błąd</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Serwer wybranego obszaru jest niedostępny.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Zamknij</button>
  </div>
</ng-template>