.content {
    background-image: url("/assets/map.jpg");
    min-height: calc(100vh - 56px);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    color: white;
    font-size: 14pt;
    overflow: auto;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}