<div *ngFor="let route of routes$ | async" class="mb-4 routes-list">
  <a [routerLink]="route.normalizedName">
    <h5>{{ route.name }}</h5>
    <!-- <img [lazyLoad]="route.photoUrl" class="panel-photo"> -->
  </a>
  <p class="description">
    {{ route.description }}
  </p>
</div>