<div>
  <div *ngFor="let message of messages$ | async" class="mb-4">
    <h4>{{ message.title }}
      <span *ngIf="!message.read" class=" ml-1 badge badge-secondary">Nowa</span>
    </h4>
    <p  class="description">{{ message.description }}</p>
  </div>
</div>