<div class="global-map-container">
  <app-map #map [elements]="touristElementsStore.elements$ | async" 
  [selectedElement]="(settings$ | async).element"
  [route]="(settings$ | async).route"
  [geolocationCoords]="geolocation.coords$ | async"
  (selectedElementChange)="onClickElement($event)">
  </app-map>
  <div class="geolocation-btn-container">
    <button class="btn btn-primary btn-sm mr-2" (click)="onGeolocationClick()">Moja lokalizacja</button>
    <button class="btn btn-primary btn-sm mr-2" (click)="onAreaClick()">Obszar</button>
    <button *ngIf="(settings$ | async).route" class="btn btn-primary btn-sm mr-2" (click)="onRouteClick()">Trasa</button>
    <button *ngIf="(settings$ | async).element" class="btn btn-primary btn-sm" (click)="onTargetClick()">Cel</button>
  </div>
</div>

<ng-template #errorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Błąd</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Usługa geolokalizacji jest niedostępna.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Zamknij</button>
  </div>
</ng-template>

