.global-map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.geolocation-btn-container {
    position: absolute;
    left: 55px;
    top: 10px;
    z-index: 500;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}