<div class="viewport">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <a class="navbar-brand" routerLink="home">Lokalny Podróżnik</a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto" *ngIf="currentArea$ | async as currentArea">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" areaLink='routes'>Trasy</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" areaLink="elements">Obiekty</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" areaLink="messages">
                        Wiadomości
                        <span *ngIf="messagesStore.getUnreadMessagesNumber() | async as number" class="ml-1 badge badge-light">{{ number }}</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" areaLink="institution">Instytucja</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" areaLink="game">Gra</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
