.badge {
    position: relative;
    top: -1px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.viewport {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav {
    flex-shrink: 0;
}

main {
    min-height: 0;
    flex-grow: 1;
}