.alert {
    padding: 0px;
}

.route-name,.target-name,.tip {
    /* font-size: 1.2rem; */
    margin-bottom: 0.5em;
    /* color: #01579b; */
}

.target-reached-text {
    font-size: 1.2rem;
    margin-bottom: 0.2em;
    color: #e64a19;
}

.distance {
    color: #1e88e5;
    display: block;
    margin-bottom: 0.5em;
}