<ng-container *ngIf="gameProgress$ | async as gameProgress">
  <ng-container *ngIf="gameProgress.status == 'completed'">
    <div class="panel-photo-container">
        <img [src]="gameProgress.route.photoUrl" class="panel-photo">
    </div>
    <small class="text-muted">Ukończyłeś grę na trasie</small>
    <div class="route-name">
        {{ gameProgress.route.name }}
    </div>
    <div class="mb-3">Zdobyłeś {{ gameProgress.points }}/{{ gameProgress.route.elements.length - 1 }} punktów.</div>
    <button class="btn btn-success mb-3" (click)="endGame()">Zakończ grę</button>
  </ng-container>

  <ng-container *ngIf="gameProgress.status == 'test'">
    <form #form="ngForm" (ngSubmit)="continue()">
      Rozwiąż test
      <p>
        {{ gameProgress.question.question }}
      </p>
      <div *ngFor="let answer of gameProgress.question.answers" class="mb-2">
        <p-radioButton name="groupname" [label]="answer" [value]="answer" [(ngModel)]="myAnswer"></p-radioButton>
      </div>
      <button class="btn btn-primary mt-2" [disabled]="!myAnswer">Kontynuuj</button>
    </form>
  </ng-container>

  <ng-container *ngIf="gameProgress.status == 'onTheWay'">
    <small class="text-muted">Grasz na trasie</small>
    <div class="route-name">
      {{ gameProgress.route.name }}
    </div>
    <small class="text-muted">Aktualny cel</small>
    <div class="target-name">
      {{ gameProgress.targetElement.name }}
    </div>
    <small class="distance">
      Odległość {{ gameProgress.distanceToTarget | distance }}
    </small>
    <div>
      <small class="text-muted">Wskazówka</small>
      <div class="tip">
        {{ gameProgress.targetElement.tip.description }}
      </div>
      <img [src]="gameProgress.targetElement.tip.photoUrl" class="panel-photo">
    </div>
  </ng-container>

  <ng-container *ngIf="gameProgress.status == 'targetReached'">
    <small class="text-muted">Grasz na trasie</small>
    <div class="route-name">
      {{ gameProgress.route.name }}
    </div>
    <small class="text-muted">Aktualny cel</small>
    <div class="target-name">
      {{ gameProgress.targetElement.name }}
    </div>
    <div>
      <img [src]="gameProgress.targetElement.photoUrl" class="panel-photo mb-2">
      <div class="target-reached-text">Dotarłeś do celu</div>
      Aby kontynuować grę, zapoznaj się z informacją na temat obiektu i naciśnij przycisk <em>Kontynuuj</em>
      <hr>
      <div [innerHTML]="gameProgress.targetElement.description" class="description"></div>
      <button class="btn btn-primary mb-4" (click)="continue()">Kontynuuj</button>
    </div>
  </ng-container>
  <ng-container *ngIf="gameProgress.status == 'notStarted'">
    <div role="alert">
      <p>
        Aktualnie nie grasz w żadną grę.
      </p>
      <p>
        Aby rozpocząć grę, przejdź do widoku <a areaLink="routes" class="alert-link">Trasy</a>,
        wybierz trasę i naciśnij przycisk <em>Rozpocznij grę</em>.
      </p>
    </div>
  </ng-container>

</ng-container>