.area-link {
    font-weight: bold;
    color: inherit;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    width: 275px;
    display: block;
}

.area-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 600px;
}

.area-link:hover {
    text-decoration: underline
}

.area-list-item {
    width: 300px;
    overflow: elipsis;
}