<ul class="area-list list-unstyled">
  <li *ngFor="let area of areas$ | async" class="area-list-item" >
    <a role="button" [routerLink]="['/areas', area.normalizedName]" class="area-link">{{ area.name }}</a>
  </li>
</ul>