/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~leaflet/dist/leaflet.css';

* {
    font-family: 'Ubuntu', sans-serif;
}

.modal-header .close {
    outline: none;
}

.marker {
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1rem;
    top: -0.9rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
    background-color: gray;
}

.marker-text {
    position: relative;
    top: -43px;
    left: -7px;
    display: block;
    font-size: 1.2rem;
    color: white;
    pointer-events: none;
    width: 14px;
    text-align: center;
}

.marker:hover {
    background-color: #ff7043; 
}

.selected-marker {
    background-color: #e64a19 !important; 
}

.marker-geolocation {
    background-color: #c46363 !important; 
}

.route-marker {
    background-color: #1e88e5; 
}

a:hover {
    color: #1e88e5; 
    text-decoration: none;
}

a {
    color: inherit;
}

.navbar {
    background-color: #263238 !important;
}

.navbar-brand {
    color: #fff !important;
}

.description {
    text-align: justify;
    text-justify: distribute;
}

.strong-link {
    display: block;
    font-weight: bold;
    color: #575C61;
}

.strong-link-disabled {
    display: block;
    font-weight: bold;
    color: rgb(139, 146, 155) !important;
}

.strong-link:hover {
    color: #1e88e5;
}

.btn-primary {
    background-color: #1e88e5;
}

.btn {
    box-shadow: none !important;
}

.panel-photo {
    margin-bottom: 1rem;
    width: 100%;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.panel-photo-container {
   
    margin: -15px;
    margin-bottom: 0px;
    margin-top: -1rem;
}

.fade {
    transition: none !important;
}