<div *ngIf="route$ | async as route" class="pb-2">
  <div class="panel-photo-container">
    <img [src]="route.photoUrl" class="panel-photo">
  </div>
  <h4>{{ route.name }}</h4>
  <p class="description">{{ route.description }}</p>
  <h5>Obiekty na trasie</h5>
  <li *ngFor="let element of route.elements" class="list-unstyled">
    <a [routerLink]="['elements', element.normalizedName]" class="route-link">{{ element.name }}</a>
  </li>
  <button class="btn btn-primary mt-2 mb-2" (click)="startGame(route.name)">
    Rozpocznij grę <fa-icon class="play-icon" icon="play"></fa-icon>
  </button>
</div>

<ng-template #continueModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Potwierdzenie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Aktualnie grasz już na jednej trasie. Rozpoczącie nowej gry usunie aktualny postęp.
    Czy chcesz kontynuować?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close()">Kontynuuj</button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Zamknij</button>
  </div>
</ng-template>
