.route-link {
    font-weight: normal;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    display: block;
}

.route-link:hover {
    color: #1e88e5;
} 

.route-photo {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
}

.play-icon {
    font-size: 0.8em; 
    margin-left: 0.3em
}