<div class="area-container">
  <div *ngIf="areasStore.currentArea$ | async as currentArea" class="container-fluid py-2 area-bar">
    <span class="mr-auto">{{ currentArea.name }}</span>
    <div class="area-buttons">
      <button type="button" class="btn btn-sm mr-2" (click)="activeView = 'content'">Treść</button>
      <button type="button" class="btn btn-sm" (click)="activeView = 'map'">Mapa</button>
    </div>
  </div>
  <div class="columns-container">
    <div class="panel" [class.active]="activeView == 'content'">
      <div class="container pt-3">
        <router-outlet (activate)="activeView = 'content'"></router-outlet>
      </div>
    </div>
    <div class="map-container" [class.active]="activeView == 'map'">
      <app-global-map></app-global-map>
    </div>
  </div>
</div>


