.area-bar {
    background-color: #455a64 !important;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    z-index: 603;
    position: relative;
    display: flex;
}

.columns-container{
    display: flex;
    flex-direction: row;
    min-height: 0;
    flex-grow: 1;
}

.area-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.panel {
    width: 400px;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    z-index: 500;
}

.panel::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.panel::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.panel::-webkit-scrollbar-thumb
{
    background-color: #90a4ae; 
}

.map-container {
    flex-grow: 1;
    height: 100%;
}

.area-buttons {
    display: none;
}

@media (max-width: 767.98px) {
    .area-buttons {
        display: block;
    }

    .map-container, .panel {
        display: none;
        width: 100%;
    }

    .panel.active, .map-container.active {
        display: block;
    }
}

.btn {
    color: #F5F5F5;
    box-shadow: none !important;
    outline: none !important;
    line-height: 1;
    padding: 0 5px;
}

.btn:active {
    background-color: #2d3a41;
}