<div *ngIf="selectedElement$ | async as element">
    <div class="panel-photo-container">
        <img [src]="element.photoUrl" class="panel-photo">
    </div>
    <h4>{{ element.name }}</h4>
    <div *ngIf="routeElements$ | async as routeElements" class="mb-3">
        <a class="strong-link" routerLink="../..">Wróc do trasy</a>
        <a *ngIf="routeElements.prev" class="strong-link" [routerLink]="['..', routeElements.prev.normalizedName]">Poprzedni punkt</a>
        <a *ngIf="!routeElements.prev" class="strong-link-disabled" >Poprzedni punkt</a>
        <a *ngIf="routeElements.next" class="strong-link" [routerLink]="['..', routeElements.next.normalizedName]">Następny punkt</a>
        <a *ngIf="!routeElements.next" class="strong-link-disabled">Następny punkt</a>
    </div>
    <div class="description" [innerHTML]="element.description"></div>
</div>

