.elements-navigation {
    display: flex;
    justify-content: space-between;
}

.element-photo {
    margin-bottom: 1rem;
    width: 100%;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

h4 {
    margin-bottom: 0.6rem;
    font-weight: 500;
}